body {
	background-color:transparent !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

#login-message {
    display:none;
    background: red;
}

#login-panel {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: white;
    border: 1px solid #DDD;
}

#bookmarklet-loading-panel {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: white;
    border: 1px solid #DDD;
}
#bookmarklet-loading-panel p {
    text-align: center;
    margin-top: 150px;
}

#bookmarklet-loading-panel .loading {
    margin-top: 1px;
    position: absolute;
    margin-left: -22px;
}
.pageImageChooser {
    display: none;
    position: relative;
}

.images-pane {
    display: none;
}

#new-board-name {

    display: none;
    position: absolute;
    bottom: 84px;
    width: 330px;
    padding: 20px;
    right: 50px;
    box-shadow: 0px 1px 7px rgba(0,0,0,.6);
    background-color: white;
}

.new-board-group-hierarchy {
position: absolute;
top: 60px;
margin-left: -5px;
background: url(../img/level-marker.png);
background-repeat: no-repeat;
background-position: bottom left;
width: 40px;
height: 50px;
}

#new-sheet-name {
     background: white;
     display: none;
     position: absolute;
     bottom: 84px;
     width: 330px;
     padding: 20px;
     right: 50px;
     box-shadow: 0px 1px 7px rgba(0,0,0,.6);
 }

.new-group-with-new-board-input {
    width: 83% !important;
    margin-left: 13% !important;
    margin-top: 16px !important;
}

.button-container {
    text-align: right;
}

.button-container .cancel-button {
    margin-top: 10px;
    border: none;
    color: grey;
    background-color: white;
}

.button-container .ok-button {
    left: 105px;
    margin-top: 10px;
    background-color: #ff7e00;
    padding: 8px 15px;
    border: none;
    color: white;
    border-radius: 3px;
    margin-left: 10px;
}

input[type=text] {
    height: 38px;
}

.container {
    width:850px;
    border: solid 1px #808080;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    height: 60px;
    border-bottom: dotted 1px rgb(128, 128, 128);;
}

.header img {
    margin: 0 auto;
    width: 200px;
    text-align: left;
}

.radio-buttons {
    margin-left: 20px;
    text-align: left;
    margin-top: 20px;
}

.radio {
    margin-right: 20px;
}

.form-inline .radio input[type="radio"] {
    margin-right: 7px;
}

.content {
    text-align: left;
}

.left-side {
    margin-left:40px;
    margin-top:16px;
    width:350px;
    float:left;
}
.left-side img{
    width:350px;
    float:left;
}
.right-side {
    margin-left:430px;
    margin-right:40px;
    margin-top:16px;
}

.right-side input,
.right-side textarea,
.right-side #userboards select
{
    width: 96%
}

.right-side #userboards select[name="save_into_user_sheet"] {
    float: right;
    margin-right: 4%;
    width: 84%;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(239, 239, 239);
    height: 40px;
    text-align: center;
}

.footer input[type="submit"] {
    padding:9px 42px;
    background-color:#FFF;
    color:#000;
    border-radius: 3px;
    border:none;
    margin-top:0;
    margin-bottom:0px;
    width:auto;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
}

.footer input[type="submit"]:hover
{
    background-color:#0094D4;
    color:#FFF;
}


