body {
	background-color:transparent !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}


.bookmarklet-background {
background: rgba(60, 60, 60, 0.45);
margin: 0 auto;
padding: 3px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
}

#login-message {
    display:none;
    background: red;
}

#login-panel {
    display: none;
    position: absolute;
    /*top: 0px;*/
    left: 0px;
    height: 100%;
    width: 100%;
    background: white;
    border: 1px solid #DDD;
}

#bookmarklet-loading-panel {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: white;
    border: 1px solid #DDD;
}
#bookmarklet-loading-panel p {
    text-align: center;
    margin-top: 150px;
}

#bookmarklet-loading-panel .loading {
    margin-top: 1px;
    position: absolute;
    margin-left: -22px;
}
.pageImageChooser {
    display: none;
    position: relative;
}

#new-board-name {
position: absolute;
top: 51px;
padding: 20px;
left: 27px;
box-shadow: 0px 1px 7px rgba(0,0,0,.6);
background-color: white;
}

#newBoardForm input {
width: 365px;
float:left;
margin:0;
}

.new-board-group-hierarchy {
position: absolute;
top: 60px;
margin-left: -5px;
background: url(../img/level-marker.png);
background-repeat: no-repeat;
background-position: bottom left;
width: 40px;
height: 50px;
}

#new-sheet-name {
     background: white;
     display: none;
     position: absolute;
     bottom: 84px;
     width: 330px;
     padding: 20px;
     right: 50px;
     box-shadow: 0px 1px 7px rgba(0,0,0,.6);
 }

.new-group-with-new-board-input {
    width: 83% !important;
    margin-left: 13% !important;
    margin-top: 16px !important;
}

.button-container {
    margin-left: 10px;
float: left;
}

.button-container .cancel-button {
    border: none;
    color: grey;
    background-color: white;
}

.button-container .ok-button {
left: 105px;
background-color: #ff7e00;
padding: 11px 25px;
border: none;
color: white;
border-radius: 5px;
margin-left: 10px;
}

input[type=text] {
    height: 38px;
}

.container {
    width:850px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.white-bg{
	background-color:white;
}

.header {
	background-color:#EEE;
	font-size:14px;
	position:relative;
}
.header li{
	float:left;
}
.header ul{
	
}
.header input {
width: 850px;
min-height: 56px;
background: transparent;
border-bottom: 1px solid #eee;
border-top:none;
border-left:none;
border-right:none;
text-transform: uppercase;
font-weight: 700;
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-ms-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.header input:hover {
background: #ffffff;
border-bottom-color:#ccc;
border-right-color:white;
border-left-color:white;
}

.header img.close {
    text-align: right;
}
.header .header-hamburger, .header .header-close {
width:56px;
height:56px;
position:absolute;
-webkit-transition: all .1s ease;
opacity:.2;

}
.header .header-hamburger:hover, .header .header-close:hover {
	color:#FFF;
	/*background-color:#000;*/
	background-position-y: -80px;
	/*background-position-y:-30px;*/
	background-color:#dddddd;
	opacity:1;
	cursor:pointer;
}

.header-hamburger{
	left:0;
background-image: url(../img/menu.png);
background-repeat: no-repeat;
background-position-y: -80px;
background-position-x: center;
}
.header-close{
	right:0;
background-image: url(../img/close.png);
background-repeat: no-repeat;
background-position-y: -80px;
background-position-x: center;
}


.header-2{
	border-bottom:1px solid #ccc;
	text-align: left;
	height: 47px;
}

.header-2 select {
background-color: transparent;
top: 67px;
position: absolute;
-webkit-appearance: none;
width: 664px;
padding-left: 12px;
margin: 0;
line-height: normal;
border-radius: 0;
height: 48px;
border-top: 3px solid #fff;
border-right: 3px solid #fff;
border-bottom: 3px solid transparent;
border-left: 3px solid #fff;
background-image: url(../img/drop-down.png);
background-repeat: no-repeat;
background-position-y: 19px;
background-position-x: 633px;
font-weight: 700;
letter-spacing: 1px;
color: black;
cursor: pointer;
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-ms-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.header-2 select:hover {
border:3px solid #ccc;
}



.header-2 ul li{
	float:left;
}

.single-multi-choser {
border-left: 1px solid #ccc;
height: 47px;
position: absolute;
right: 22px;
width: 175px;
}

.single-multi-choser a, .single-multi-choser span {
display: block;
padding: 14px 0;
float: left;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
padding-left: 28px;
}
.single-multi-choser a{
color:#999;
text-decoration:none;
-webkit-font-smoothing: antialiased;
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-ms-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.single-multi-choser a:hover {
	color:#000;
}

.single-multi-choser span{
	/*padding-left:32px;*/
}



select:focus {
-webkit-appearance: none;
outline: none;
}

.radio-buttons {
    margin-left: 20px;
    text-align: left;
    margin-top: 20px;
}

.radio {
    margin-right: 20px;
}

.form-inline .radio input[type="radio"] {
    margin-right: 7px;
}

.content {
    text-align: left;
}

.left-side {
    margin-left:40px;
    margin-top:16px;
    width:350px;
    float:left;
}
.left-side img{
    width:350px;
    float:left;
}
.right-side {
    margin-left:430px;
    margin-right:40px;
    margin-top:16px;
}

.right-side input,
.right-side textarea,
.right-side #userboards select
{
    width: 96%;
}

#userboards select
{
    height: 35px
}

.right-side #userboards select[name="save_into_user_sheet"] {
    float: right;
    margin-right: 4%;
    width: 84%;
}

.footer {
margin-top: 20px;
padding: 23px;
border-top: 1px solid #ccc;
text-align: center;
margin: 0 40px;
color:#999;
}

.logo {
	height: 13px;
opacity: .5;
}


.footer input[type="submit"] {
    padding:9px 42px;
    background-color:#FFF;
    color:#000;
    border-radius: 3px;
    border:none;
    margin-top:0;
    margin-bottom:0px;
    width:auto;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
}

.footer input[type="submit"]:hover
{
    background-color:#0094D4;
    color:#FFF;
}

.chosenPhoto {
    width: 217px;
    float: left;
    height: 250px;
    overflow: hidden;
}

.chosenPhoto img {
    width: 233px !important;
    height: auto !important;
}

.img-polaroid-bookmarklet {
    padding: 0;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.left-side img {
    float: left;
}

.mini-thumbs-scroll {
    margin-left: 0px;
    max-height: 245px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mini-thumbs-scroll img {
    width: 90px !important;
    height: auto !important;
}

.thumbnails a {
    cursor: pointer;
}

.block {
    display: block;
}

#close-bookmarklet-button {
    cursor: pointer;
}


.single-tab {
padding: 40px 40px 0;
}

.image-holder {
float: left;
width: 100px;
height: 80px;
overflow: hidden;
}

.image-holder img {
width: 100;
}

.link-text-holder {
	margin-left:10px;
	float:left;
width: 516px;
max-height: 77px;
overflow: hidden;
word-break: break-word;
word-wrap: break-word;
}

.include-link-btn {
float: right;
margin-top: 12px;
width: 68px;
height: 36px;
background-color: #ff7e00;
background-image: url(../img/check.png);
background-repeat: no-repeat;
background-position: center;
border-radius: 5px;
}

.links-area h3, .links-area p {
margin: 0;
font-size: 12px;
line-height:initial;
}

.links-area {
height: 388px;
overflow-y: scroll;
overflow-x: hidden;
margin-right: 3px;
}

.link-bookmarklet {
color: #999;
width: 250px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.links-area p.description-bookmarklet {
margin-top: 6px;
color: #999;
}

.single-tab-link-container {
margin-bottom: 40px;
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-ms-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;

}
.nice-scrollbar::-webkit-scrollbar {
height: 9px;
width: 12px;
}
.nice-scrollbar::-webkit-scrollbar-button {
display: block;
height: 14px;
}

.nice-scrollbar::-webkit-scrollbar-track-piece {
background: #eee;
border-radius:6px;
}
.nice-scrollbar::-webkit-scrollbar-thumb {
	background: rgb(190, 190, 190);
	border-radius:6px;
}
.do-not-bookmark {
	filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
    opacity: .25;
}

.woodoo {
    transform: scale(.14);
    -webkit-transform: scale(.14);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}


